{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ site_name }}{% endblock %}

{% block body %}
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ asset('build/images/layzTaskerLogo.svg') }}" class="d-block mx-lg-auto img-fluid" alt="Logo layzTasker"
             width="500"
             height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Gardez toujours vos listes avec vous !</h1>
        <p class="lead">Bienvenue sur layzTasker, votre nouvelle plateforme de création de listes de tâches en ligne. Avec layzTasker, vous pouvez facilement créer des listes de choses à faire pour tous les aspects de votre vie. Que vous planifiez votre prochain voyage, que vous organisiez votre travail ou que vous fassiez des courses, layzTasker vous aide à rester organisé et à suivre vos tâches en toute simplicité.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Créer une liste (rediriger sur la page register si pas co)</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row text-center">
      <h2>Découvrez les fonctionnalités principales :</h2>
      <div class="col-md-4 my-2">
        <div class="card w-100 h-100">
          <div class="card-header">
            <i class="bi bi-card-checklist"></i>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <h3 class="card-title">Créer un nombre illimité de listes</h3>
            <a href="{{ path('app_register') }}" class="btn btn-primary mx-auto">S'inscrire</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-2">
        <div class="card w-100 h-100">
          <div class="card-header">
            <i class="bi bi-tags-fill"></i>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <h3 class="card-title">Classer les listes par catégorie</h3>
            <a href="{{ path('app_register') }}" class="btn btn-primary mx-auto">S'inscrire</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-2">
        <div class="card w-100 h-100">
          <div class="card-header">
            <i class="bi bi-search"></i>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <h3 class="card-title">Retrouver facilement vos listes</h3>
            <a href="{{ path('app_register') }}" class="btn btn-primary mx-auto">S'inscrire</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
