<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="{{ path('app_home') }}" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="{{ asset('build/images/layzTaskerLogo.svg') }}" alt="" height="35">
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 nav-pills">
      <li>
        <a href="{{ path('app_home') }}" class="nav-link px-2 {{ app.current_route == 'app_home' ? 'active' : '' }}">Accueil</a>
      </li>
      <li>
        <a href="{{ path('app_list_index') }}" class="nav-link px-2 {{ app.current_route starts with 'app_list' ? 'active' : '' }}">Mes listes</a>
      </li>
      {% if is_granted('ROLE_ADMIN') %}
        <li>
          <a href="{{ path('app_admin') }}" class="nav-link px-2 {{ app.current_route == 'app_admin' ? 'active' : '' }}">Dashboard Admin</a>
        </li>
      {% endif %}
    </ul>

    <div class="col-md-3 text-end">
      {% if app.user %}
        <a href="{{ path('app_logout') }}" class="btn btn-outline-primary me-2">Déconnexion</a>
      {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2">Connexion</a>
        <a href="{{ path('app_register') }}" class="btn btn-primary">S'inscrire</a>
      {% endif %}
    </div>
  </header>
</div>